# Import Libraries

In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [14]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [15]:
temp_df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,28.6873,8.714,29551
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,35.2981,8.687,22313
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,18.5173,8.571,13494
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15.6081,8.565,17007
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.0011,8.552,9663
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,18.5507,8.533,17846
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,25.4925,8.525,35014
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,5.6434,8.518,4541
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,18.4050,8.503,18733
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,28.5639,8.496,19978
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,23.6105,8.493,25879
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,22.1757,8.486,29554
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,19.0824,8.479,12228
13,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,13.9872,8.468,9354
14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,46.6906,8.466,38646
15,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,19.5528,8.462,29110
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,15.6971,8.452,13923
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,7.5758,8.450,4084
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0084,8.400,6286
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,10.0588,8.440,13731

In [28]:
# Create an empty list to store DataFrames
dfs = []

for i in range(1, 10):
    response = requests.get(
        f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}'
    )
    temp_df = pd.DataFrame(response.json()['results'])[
        ['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']
    ]
    dfs.append(temp_df)  # store each temp_df in the list

# Concatenate all DataFrames at once
df = pd.concat(dfs, ignore_index=True)

In [29]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,28.6873,8.714,29551
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,35.2981,8.687,22313
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,18.5173,8.571,13494
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15.6081,8.565,17007
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.0011,8.552,9663
...,...,...,...,...,...,...,...
175,422,8½,"Guido Anselmi, a film director, finds himself ...",1963-02-14,3.8537,8.113,2468
176,406997,Wonder,The story of August Pullman – a boy with facia...,2017-11-13,6.0956,8.111,8136
177,1398,Stalker,"Near a gray and unnamed city is the Zone, a pl...",1979-05-25,3.2186,8.110,2415
178,10681,WALL·E,What if mankind had to leave Earth and somebod...,2008-06-22,15.7375,8.100,19823
179,531428,Portrait of a Lady on Fire,On an isolated island in Brittany at the end o...,2019-09-06,4.6655,8.100,2836

In [30]:
df.to_csv('movies.csv')